---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
    <!-- Contenido a mostrar en el slot de <BaseLayout /> -->
    <h2>Mi impresionante subtítulo del blog</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]}/>
</BaseLayout>