---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
    <!-- Contenido a mostrar en el slot de <BaseLayout /> -->
    <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>